.heading{
  font-size: 65px;
  line-height: 85px;
  color: var(--main-color);
}
.paragraph{
  font-size: 19px;
}
@media (max-width : 991px) {
  .heading{
    font-size: 35px;
    line-height: 50px;
  }
  .paragraph{
    font-size: 16px;
  }
}