.bg{
  background: var(--light-main-color);
}
.heading{
  font-size: 22px;
  color: var(--white-color);
  max-width: 250px;
}
.icon{
  font-size: 30px;
  color: var(--white-color);
}
@media (max-width : 991px) {
  .heading{
    font-size: 16px;
    line-height: 25px;
  }
  .icon{
    font-size: 20px;
  }
}