@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
*{
  font-family: "Tajawal", sans-serif;
  direction: rtl;
}
:root{
  --main-color : #5BA7BF;
  --light-main-color : #cee9eb;
  --second-color : #000;
  --third-color : #494949;
  --white-color : #fff;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 1px;
}
.mt-90{
  margin-top: 90px;
}
.active{
  background-color: var(--main-color);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: white;
}